<mat-toolbar fxLayout="row">
    <button mat-button routerLink="/" (click)="collapseNavbar()" fxFlex="10">
        <span jhiTranslate="global.title">Myapp</span> <span>{{version}}</span>
    </button>
    <span fxFlex></span>
    <div [ngSwitch]="isAuthenticated()" fxLayout="row" fxLayoutGap="8px">
        <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
        </button>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <button *ngSwitchCase="true" [matMenuTriggerFor]="entityMenu"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-button
                href="javascript:void(0);">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
        </button>
        <mat-menu #entityMenu="matMenu">
            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            <button mat-button></button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="adminMenu" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
        </button>
        <mat-menu #adminMenu="matMenu">
            <div fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="space-around start">
                <button mat-button routerLink="admin/user-management" routerLinkActive="active"
                        (click)="collapseNavbar()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                </button>
                <button mat-button routerLink="admin/metrics" routerLinkActive="active"
                        (click)="collapseNavbar()">
                    <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                </button>
                <button routerLink="admin/health" routerLinkActive="active" mat-button>
                    <fa-icon icon="heart"></fa-icon>
                    <span jhiTranslate="global.menu.admin.health">Health</span>
                </button>
                <button mat-button routerLink="admin/configuration" routerLinkActive="active"
                        (click)="collapseNavbar()">
                    <fa-icon icon="list" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                </button>
                <button mat-button routerLink="admin/audits" routerLinkActive="active"
                        (click)="collapseNavbar()">
                    <fa-icon icon="bell"></fa-icon>
                    <span jhiTranslate="global.menu.admin.audits">Audits</span>
                </button>
                <button mat-button routerLink="admin/logs" routerLinkActive="active"
                        (click)="collapseNavbar()">
                    <fa-icon icon="tasks"></fa-icon>
                    <span jhiTranslate="global.menu.admin.logs">Logs</span>
                </button>
                <button mat-button *ngIf="swaggerEnabled" routerLink="admin/docs" routerLinkActive="active"
                        (click)="collapseNavbar()">
                    <fa-icon icon="book"></fa-icon>
                    <span jhiTranslate="global.menu.admin.apidocs">API</span>
                </button>
            </div>
        </mat-menu>
        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
    </div>
    <div *ngIf="languages && languages.length > 1" fxLayout="row" fxLayoutGap="8px">
        <button mat-button [matMenuTriggerFor]="languageMenu" href="javascript:void(0);">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
        </button>
        <mat-menu #languageMenu="matMenu">
            <button mat-button *ngFor="let language of languages">
                <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
                   (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
            </button>
        </mat-menu>
    </div>
    <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" fxLayout="row" fxLayoutGap="8px">
        <button mat-button href="javascript:void(0);" [matMenuTriggerFor]="accountMenu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
            <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()">
                  </span>
        </button>
        <mat-menu #accountMenu="matMenu">
            <div fxLayout="column" fxLayoutGap="8px">
                <button mat-button routerLink="account/settings" routerLinkActive="active"
                        (click)="collapseNavbar()">
                    <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.settings">Settings</span>
                </button>
                <button mat-button routerLink="account/password" routerLinkActive="active"
                        (click)="collapseNavbar()">
                    <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.password">Password</span>
                </button>
                <button mat-button (click)="logout()" *ngIf="isAuthenticated()">
                    <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.logout">Sign out</span>
                </button>
                <button mat-button (click)="login()" *ngIf="!isAuthenticated()">
                    <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.login">Sign in</span>
                </button>
                <button mat-button routerLink="account/register" routerLinkActive="active"
                        (click)="collapseNavbar()">
                    <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.register">Register</span>
                </button>
            </div>
        </mat-menu>
    </div>
</mat-toolbar>
